.HistoryItem {
    border: none;
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    border-radius: var(--big-radius);
    background-color: var(--bright-violet);
    padding: var(--btn-padding);
    justify-content: space-between;
    width: -webkit-fill-available;
}

.filenameWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
}

.statsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.StatsItem {
  background-color: var(--light-violet);
}