.Uploader {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}


.send {
    background-color: var(--bright-green);
    border-radius: var(--small-radius);
    padding: var(--btn-padding);
    border: none;
}

.send:active {
    background-color: var(--btn-active);
}