.History {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.listRow {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    height: 40px;
    width: -webkit-fill-available;
}

.delete {
    border: none;
    background-color: white;
    width: 40px;
    border-radius: var(--small-radius);
}


.btns {
    display: flex;
    column-gap: 10px;
    
    align-items: center;
    justify-content: center;
}

.toGenerator {
    padding: var(--btn-padding);
    border-radius: var(--small-radius);
    background-color: var(--bright-green);
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clearAll {
    padding: var(--btn-padding);
    background-color: black;
    color: white;
    border-radius: var(--small-radius);
}