.navbar {
    display: flex;
column-gap: 20px;
}

button {
    background-color: transparent;
    border: none;
    padding: 10px;
    display: flex;
    column-gap: 4px;
}

.active {
    border-bottom: 1px solid black;
}