.uploadContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EACDFF;
  transition: all 0.3s ease;
  padding: 20px 0;
}

.uploadContainer.error {
  color: var(--red);
  border-color: var(--red);

}

.uploadContainer.error .uploaded {
  background-color: #d32f2f;
}

.uploadContainer,
.uploadButton,
.loading,
.uploaded {
  border-radius: 8px;
}

.dragover {
  background-color: #D4FAE6;
}

.fileInput {
  display: none;
}

.uploadButton {
  background-color: white;
  padding: var(--btn-padding);
  border: none;
  border-radius: var(--small-radius);
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.loading {
  background-color: var(--bright-violet);
  border-radius: var(--small-radius);
  padding: var(--btn-padding);
  width: 200px;
}

.error {
  color: #d32f2f;
}